:root {
  /* Primary Color */
  --paleBlue: hsl(225, 100%, 94%);
  --rightBlue: hsl(245, 75%, 52%);

  /* Neutral Color*/
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-size: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  background: var(--paleBlue);
  line-height: 1.5;
  color: var(--darkBlue);
}

/* section CARD */
.card {
  background-color: white;
  margin: auto;
  border-radius: 0.5em;
  text-align: center;
  max-width: 21em;
  margin-top: 5em;
}

.card__illustration img {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
}

.card__title,
.card__article {
  margin-top: 1em;
}

.card__article {
  padding: 0 2em;
  color: var(--desaturatedBlue);
}

.card__plan {
  background-color: var(--veryPaleBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
  padding: 1em;
  border-radius: 0.5em;
}

.card__plan--price p {
  color: var(--desaturatedBlue);
}

.card__plan--option:active {
  text-decoration: none;
  color: rgb(134, 112, 231);
}

.card__cta {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 1.5em;
  cursor: pointer;
}

.card__cta .card__cta--procced {
  background-color: var(--rightBlue);
  border: 0;
  border-radius: 0.8em;
  color: white;
  padding: 0.8em 0;
  box-shadow: 0 20px 30px 0px rgba(0, 0, 200, 0.2);
}

.card__cta .card__cta--procced:active {
  background-color: rgb(134, 112, 231);
}

.card__cta .card__cta--cancel {
  color: var(--desaturatedBlue);
  margin-bottom: 1.5em;
}

.card__cta .card__cta--cancel:active {
  color: #000;
  font-weight: 700;
}

@media (min-width: 768px) {
  .card {
    max-width: 26em;
  }

  .card__plan {
    margin: 1.5em 2.5em;
  }
  .card__cta {
    margin: 0 2.5em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2em;
}

.attribution a {
  color: var(--rightBlue);
}
